.map-container {
  display: flex;
  justify-content: center;
  margin: 10rem 0;
  margin-bottom: 2rem;
}

.map-search {
  width: 300px;
  margin-right: 5rem;
}

.map-search-input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 2px solid #000000;
}

.map-search-list {
  list-style: none;
  padding: 0;
}

.map-search-item {
  margin-bottom: 0.5rem;
}

.map-search-btn {
  width: 100%;
  padding: 0.5rem;
  text-align: left;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: #f8f8f8;
}

.map-leaflet {
  height: 500px;
  width: 900px;
  max-width: 90vw;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}

.location-error-message {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f44336; /* rojo fuerte */
  color: white;
  padding: 1rem 1.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.3);
  z-index: 1500;
  max-width: 90vw;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.location-error-message button {
  background: white;
  color: #f44336;
  border: none;
  padding: 0.4rem 0.8rem;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.location-error-message button:hover {
  background-color: #fddede;
}


@media (max-width: 900px) {
  .map-container {
    flex-direction: column;
    align-items: center;
    margin-top: 6rem;
    margin-bottom: 0;
  }

  .map-search {
    width: 90vw;
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .map-leaflet {
    width: 95vw;
    height: 800px;
    max-width: 100vw;
    border-radius: 8px;
  }
}

@media (max-width: 500px) {
  .map-container {
    margin-top: 12rem;
    margin-bottom: 0;
  }
  .map-search-input {
    font-size: 1rem;
    padding: 0.4rem;
  }

  .map-search-btn {
    font-size: 0.95rem;
    padding: 0.4rem;
  }

  .map-leaflet {
    height: 250px;
    border-radius: 6px;
  }
}

@media (width > 900px ) {
  .map-container {
    margin-bottom: 2rem;
    gap: 3rem;
  }
}